<ul class="horizontal-list">
  {% for item in include.collection | limit: 6 %}
    <li class="card">
      <a href="{{ item.url }}">
        <span class="header">
          {{ item.title }}
        </span>

        <hr />

        {% if item.desc != false %}
        <p class="body">
          {{ item.desc }}
        </p>
        {% endif %}

        {% if item.tags %}
        <div class="tags">
          {% for tag in item.tags %}
            <span class="tag">{{ tag }}</span>
          {% endfor %}
        </div>
        {% endif %}
      </a>
    </li>
  {% endfor %}
</ul>
<div class="next-button-section">
  <a href="#" class="next-button">
    ...Next
  </a>
</div>
